@model IEnumerable<ADOLib.Models.Employee>

@{
    ViewData["Title"] = "Index";
}

<h1>List</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Address)
            </th>
            <th>
                @*@Html.DisplayNameFor(model => model.ImagePath)*@
                Profile Picture
            </th>
            <th>
                @*@Html.DisplayNameFor(model => model.DepartmentName)*@
                Department Name
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Address)
            </td>
            <td>
                @*@Html.DisplayFor(modelItem => item.ImagePath)*@
                <img src="~/images/@item.ImagePath"
                     class="rounded-circle"
                     height="40" width="40"
                     asp-append-version="true" />
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DepartmentName)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.EmpId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.EmpId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.EmpId"  onclick="return confirm('Are you sure to delete?')">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
